<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopinglist></app-shopinglist>
    </div>
  </div>
</div> -->
<!-- <app-demo1></app-demo1> -->
<div class="container">
<app-cokepit (serverCreated)="onServerAdded($event) "
(bluePrintCreated)="onServerprinted($event)"
></app-cokepit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
<app-serverelment *ngFor=" let serverElement of ServerElements"
 [srvElement]="serverElement"
 ></app-serverelment>
    </div>
  </div>
</div>
